



:export {
    blueMain: $blue-main;
    blueA100: $blue-a100;
    lightMainTextContrast: $light-main-text-contrast;
    darkMainTextContrast: $dark-main-text-contrast;


    lightTextBlack: $light-text-black;
    lightTextGray: $light-text-gray;
    lightBgWhite: $light-bg-white;
    lightBgGray: $light-bg-gray;
    lightGrayA100: $light-gray-a100;
    
    darkTextMain: $dark-text-color-main;
    darkTextGray: $dark-text-gray;
    darkBgMain: $dark-bg-color-main;
    darkBgGray: $dark-bg-gray;
    darkGrayA100: $dark-gray-a100;
}
