


.code_header {
    display: flex;
    justify-content: space-between;
    color: $light-main-text-contrast;
    background-color: rgb(40, 44, 52);
    border-radius: 10px 10px 0px 0px;
    padding: 5px 10px;
}