


.markdown {
    white-space: initial;

    p {
        margin-top: 8px;
        margin-bottom: 4px;
    }

    h1, h2, h3 {
        margin: 16px 0px 8px;
    }

    hr {
        margin: 12px 0;
    }

    strong {
        font-weight: 600;
    }

    ol, ul {
        padding-left: 25px;
        margin: 0px 0px 8px;

    }

    pre {
        max-width: 100%;
        overflow-x: auto; // включаем горизонтальный скролл
        white-space: pre; // сохраняем переносы, но без wrap
    }
      
    code {
        white-space: pre-wrap;  // перенос строк внутри inline-кода
        word-break: break-word; // переносим слова при необходимости
    }

    table {
        font-size: 13px;
        border-radius: 10px;
        padding: 10px;
        
        @include theme() {
            background-color: theme-get("gray-50");
        }

    }

    th, td {
        word-break: normal;
        padding: 10px 7px;
    }

    td {
        vertical-align: top;
    }
}
